interface Loopback2000
description {{interfaces.Loopback2000.description}}
 ip address {{interfaces.Loopback2000.ipv4_addr}} {{interfaces.Loopback2000.ipv4_mask}}
!
interface Loopback2001
description {{interfaces.Loopback2001.description}}
 ip address {{interfaces.Loopback2001.ipv4_addr}} {{interfaces.Loopback2001.ipv4_mask}}
end