interface Loopback100
description ***TEMPLATE LOOPBACK 100****
 ip address {{interfaces.Loopback100.ipv4_addr}} {{interfaces.Loopback100.ipv4_mask}}
!
interface Loopback200
description ***TEMPLATE LOOPBACK 200****
 ip address {{interfaces.Loopback200.ipv4_addr}} {{interfaces.Loopback200.ipv4_mask}}
end